*{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
h1{
    font-weight: 400;
}
hr{
    width: 40px;
    height: 8px;
    background-color: white;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    opacity: 1;
    margin: 0px 150px 0px 550px;
    font-weight: bolder;
}
/* first row part */
.row1{
    position:relative;
    display: flex;
    flex-direction:row;
}
.row1 .col1{
    width: 30%;
    color: black;
    background-color:rgb(247, 244, 248);
    padding: 20px;
}
/* .row1 .col2{
    
} */
.row1 .col1 input[type="button"]{
    color: white;
    background-color: maroon;
    border: none;
    width: 120px;
    height: 30px;
}
.row1 .col2 img{
    width: 100%;
    object-fit: cover;
}
.row1 .studio{
    margin: 150px 0px 150px 0px;
}
#menu{
    width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
/* second part */
.row2{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.row2 .col1{
    width: 70%;
    
}

.row2 .col2{
    width: 30%;
    background-color:rgb(202, 64, 29);
    text-align: center;
    /* padding-top: 120px; */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding:120px 10px 120px 10px;
}
.row2 .col2 .line{
    width: 10%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    opacity: 1;
    margin: 0px 150px 0px 150px;
    
}
.row2 .col2 input[type="button"]{    
    background-color: maroon;
    border: none;
    color: white;
    width: 120px;
    height: 30px;
}
.row2 .col1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* row3 */
.row3 .container-fluid{
    background-color: lightgrey;
    padding: 50px;
    text-align: center;


}
.row3 .container-fluid hr{
    height: 4px;
    width: 5%;
    text-align: center;
    margin: 0 0 0 530px;
    background-color: brown;
    opacity: 1;
}
.row3.col-sm-4{
    height: 600px;
    width: 33.33%;
    padding: 10px;
}
.row3 .row img{
    height: 300px;
    padding: 30px;
}
.row3 .container-fluid input[type="button"]{
    padding: 0px;
    background-color: maroon;
    border: none;
    color: white;
    width: 120px;
    height: 30px;
}
.row3 .container-fluid .btn{
    margin-top: 50px;
}
/* row4 */
.row4{
    height: 700px;
    width: 100%;
    
}
.row4 .container-fluid{
    height: 700px;
    width: 100%;
    
}
.row4 .container-fluid .col-sm-4 hr{
    height: 4px;
    width: 10%;
    text-align: center;
    margin: 0 0 0 180px;
    background-color: white;
    opacity: 1;
}
.row4 .container-fluid .col-sm-4{
    height: 700px;
    position: relative;
    background-color: brown;
    padding-top: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    color: white;
    text-align: center;
    
}
.row4 .container-fluid .col-sm-8{
    height: 100%;
    position: relative;
    background-color: white;
}
.col-sm-8 .col-sm-6{
    height: 350px;
    width: 50%;

}
.row4 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
}
.im{
    margin: 0px 200px 0px 200px;
}
.row4 hr{
    width: 40px;
    height: 8px;
    background-color: white;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    opacity: 1;
    margin: 0px 150px 0px 550px;
    font-weight: bolder; 
}

/* row5 */
.row5{
    width: 100%;
    height: 400px;
    /* margin-top: 2em; */
    padding: 0;
    
}

.row5 .container-fluid{
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}
.row5 .container-fluid hr{
    height: 4px;
    width: 10%;
    text-align: center;
    margin: 0 0 0 0px;
    background-color: white;
    opacity: 1;
}
.row5 .row{
        /* --bs-gutter-x: 0; */
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
}
.row5 .container-fluid .col-sm-8{
    background-color: white;
    height: 400px;
    width: 66.667%;
    padding: 0;
    /* margin-top: 24px; */
    position: relative;
}
.row5 .col-sm-4{
    height: 400px;
    background-color: bisque;
    text-align: left;
    padding: 80px;
    color: white;
    background-color: brown;
}
.row5 .col-sm-4 h3{
    font-size: medium;
}
.row6 .container-fluid{
    width: 100%;
    height: 60px;
    background-color: maroon;
    display: flex;
    flex-direction: row;
    color: white;
    
}
.row6 h5{
    padding: 15px;
    text-align: left;
}
